.order-form__fieldset {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  padding: 0;
  border: none;
  border-top: 1px solid $cyan;
}

.order-form__fieldset li {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.order-form__bottom {
  display: flex;
  flex-direction: column;
}

.order-form__required-text {
  margin: 18px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-align: left;
}

.order-form__submit-button {
  width: 100%;
  margin: 12px 0 55px;
  padding: 18px 0;
  font-size: 17px;
  line-height: 16px;

  @include white-button;
}
