.catalog__title-wrapper {
  display: flex;

  padding: 73px 0;

  background-color: $grey;
}

.catalog__title {
  box-sizing: border-box;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  @include wrapper;
}

.catalog__products {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px;
}

@media (min-width: $screen-m) {
  .catalog__products {
    padding: 0;
  }
}

@media (min-width: $screen-l) {
  .catalog__products {
    @include wrapper-l;

    padding: 0;
  }
}
