.reviews {
  position: relative;
}

.reviews__inner {
  display: flex;
  flex-direction: column;

  @include wrapper;
}

.reviews__title {
  margin: 0;
  margin-top: 60px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
}

.reviews__item {
  margin: 0;
  font-weight: normal;
}

.reviews__paragraph {
  margin-top: 35px;

  font-size: 15px;
  line-height: 30px;
  color: $black;
  text-align: left;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}

.reviews__author-tag {
  margin-bottom: 0;
  font-size: 17px;
  line-height: 30px;
}

.reviews__button-link {
  display: block;

  margin-top: 38px;
  padding: 14px 0;

  font-size: 17px;
  line-height: 20px;

  cursor: pointer;

  @include white-button;
}

@media (min-width: $screen-m) {
  .reviews__inner {
    display: flex;
    @include wrapper-m;
  }

  .reviews__title{
    order: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__button-link {
    order: 1;
  }
}

@media (min-width: $screen-l) {
  .reviews__inner {
    @include wrapper-l;
  }

  .reviews__title{
    font-size: 53px;
    line-height: 57px;
  }
}
