.catalog-video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include wrapper;
  padding-bottom: 33px;
}

.catalog-video__title {
  margin: 29px 0 23px 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.catalog-video p {
  margin-left: 35px;

  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.catalog-video__button {
  display: block;
  width: 190px;
  padding: 18px 0 14px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 16px;

  @include white-button;
}

@media (min-width: $screen-m) {
  .catalog-video {
    @include wrapper-m;

    margin-top: 55px;
  }

  .catalog-video__title {
    align-self: flex-start;
  }

  .catalog-video__video {
    order: -1;
  }

  .catalog-video__button{
    width: 581px;
  }
}

@media (min-width: $screen-l) {
  .catalog-video {
    @include wrapper-l;

    width: 230px;
  }

  .catalog-video__title,
  .catalog-video p {
    margin-left: 0;
  }

  .catalog-video__video {
    position: absolute;
    left: 0;
  }

  .catalog-video__button{
    width: 230px;
  }
}
