.header {
  display: flex;
  flex-direction: column;

  @include wrapper;
}

.header__additional {
  display: none;
}

@media (min-width: $screen-m) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include wrapper-m;
  }

  .header__additional {
    display: flex;
    margin-left: auto;
  }
}

@media (min-width: $screen-l) {
  .header {
    position: relative;

    @include wrapper-l;
  }
}
