.header {
  display: flex;
  flex-direction: column;
}

  .header__container {
    @include wrapper;
  }

@media (min-width: $screen-m) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: $light-grey;
  }

  .header__container {
    @include wrapper-m;
  }

  .header::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 89px;
    background-color: $white;
  }

  .header__additional {
    display: flex;
    margin-left: auto;
  }
}

@media (min-width: $screen-l) {
  .header {
    position: relative;
  }

  .header__container {
    @include wrapper-l;
  }
}
