// Breakpoints

$screen-s: 320px;/* мобильная версия, */
$screen-m: 768px;/* планшетная версия, */
$screen-l: 1150px;/* десктопная версия. */

// Colors

$white: #ffffff;
$black: #000000;

$asphalt: #444444;
$light-grey: #f9f9f9;
$grey: #f1f1f1;
$grey--hover: #666666;
$grey--down: #b2b2b2;
$cyan: #63d1bb;
$light-cyan: #62d1ba;
$cyan--hover: #59d5bc;
$cyan--down: #8be2d0;
$azure: #56c3b2;
$azure--hover: #46c1ae;
$azure--down: #7ed4c6;
