.top-menu {
  display: flex;
  flex-direction: column;
}

.top-menu__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.top-menu__logo {
  margin: auto;

  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.top-menu__toggle {
  width: 20px;
  height: 20px;

  background-color: #8d0000;

  border: none;
  outline: none;
}

.top-menu__bottom {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

@media (min-width: $screen-m) {
  .top-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .top-menu__top {
    position: absolute;
    width: 370px;
  }

  .top-menu__logo {
    margin: 0;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }

  .top-menu__toggle {
    display: none;
  }

  .top-menu__bottom {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $screen-l) {
  .top-menu__top {
    position: absolute;
    top: 0;
    left: 43%;
  }
  .top-menu__bottom {
    padding: 0;
  }
}
