.footer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.footer__wrapper {
  @include wrapper;
}

.social-buttons__item {
  list-style: none;
}

.social-buttons__link {
  text-decoration: none;
}
