.footer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.footer__wrapper {
  @include wrapper;
}

.footer__logo {
  display: none;
}

@media (min-width: $screen-m) {
  .footer {
    padding: 30px 50px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include wrapper-m;
  }

  .footer__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
  }

  .footer__icon {
    display: block;
    width: 103px;
    height: 37px;

    background-color: #b1b1b1;
  }
}

@media (min-width: $screen-l) {
  .footer__wrapper {
    @include wrapper-l;
  }
}
