.contacts {
  display: flex;
  flex-direction: column;
  @include wrapper;
}

.contacts__title {
  width: 320px;
  margin: 40px auto 25px;
  padding: 0 30px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
}

.contacts__table {
  display: flex;

  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}

.contacts__table-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}

.contacts__table-row td:nth-of-type(2n+1) {
  flex-basis: 65px;
  margin-right: 32px;
}

.contacts__table a {
  text-decoration: none;
  color: $black;
}

.contacts__email {
  border-bottom: 1px solid $light-cyan;
}

.contacts__link {
  display: block;

  margin: 39px 0;
  padding: 14px 0;

  font-size: 17px;
  line-height: 20px;

  cursor: pointer;

  @include white-button;
}

@media (min-width: $screen-m) {
  .contacts {
    @include wrapper-m;
  }

  .contacts__title {
    margin: 63px 0 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__table {
    flex-direction: row;
  }

  .contacts__link-wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (min-width: $screen-l) {
  .contacts {
    @include wrapper-xl;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
}
