.featured {
  display: flex;
  flex-direction: column;

  @include wrapper;
}

.featured__titles {
  display: flex;
  flex-direction: column;
}

.featured__title--carts {
  margin: 30px 0 0;
  font-size: 25px;
  line-height: 30px;
}

.featured__title--product {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $cyan;
}

.featured__paragraph {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: $black;
}

.featured__table {
  display: flex;
  flex-direction: column;
}

.featured__span {
  padding: 25px 0;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.featured__button {
  padding: 14px 0;
  background-color: $white;

  font-size: 17px;
  line-height: 20px;

  @include white-button;
}

@media (min-width: $screen-m) {
  .featured {
    @include wrapper-m;
  }

  .featured__titles {
    display: flex;
    flex-direction: row;
  }

  .featured__title--carts {
    margin-top: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .featured__title--product {
    max-width: 134px;
    margin-top: 60px;
    margin-left: auto;

    text-align: center;
    line-height: 17px;
  }

  .featured__paragraph,
  .featured__table,
  .featured__span,
  .featured__button {
    max-width: 290px;
  }

  .featured__main {
    position: relative;

    flex-direction: row;
  }

  .featured__image {
    position: absolute;
    top: 740px;
    left: 384px;
  }
}

@media (min-width: $screen-l) {
  .featured {
    padding: 0 80px;

    @include wrapper-xl;
  }

  .featured__title--carts {
    order: 1;
    margin-left: 17px;

    font-size: 53px;
    line-height: 57px;
  }

  .featured__title--product {
    order: 0;
    margin-left: -150px;
  }

  .featured__paragraph {

  }
}
